<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Update Rat</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <link rel="stylesheet" href="../static/materialize.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type ="text/javascript"></script>
</head>
<body class="light-blue lighten-4">
<nav>
  <div class="nav-wrapper grey darken-1">
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/rats/new">Make a Rat</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col s6 offset-s3">
      <div class="card">
        <h3>Update Rat</h3>
          <% if(typeof(errors) != 'undefined' ) { %>
          <% for (var x in errors) { %>
        <h3><%= errors[x].message %></h3>
          <% } %>
          <% } %>
        <div class="input field">
          <form action="/rats/update/<%= rats.id%>" method="post">
            <input class="validate" type="text" name="name" placeholder="Name">
            <input class="validate" type="text" name="age" placeholder="Age">
            <select class="browser-default" name="fur">
              <option value="" disabled selected>Select Fur Color</option>
              <option value="Red">Red</option>
              <option value="Black">Black</option>
              <option value="Brown">Brown</option>
              <option value="White">White</option>
              <option value="Grey">Grey</option>
            </select>
            <input class="btn black" type="submit" value="Submit">
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>